* {
  font-family: 'Staatliches', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;

}

main {
  opacity: 0;
  animation-duration: 2s;
  animation-name: show;
  animation-delay: 4s;
  animation-timing-function: cubic-bezier(.92, -0.03, .44, 1.03);
  animation-fill-mode: forwards;

}



/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Header  */
body>header {
  padding-top: 4em;
  display: block;
  background-color: white;
  max-width: 60em;
}

body>header>p {
  padding-left: 1.8em;
  text-align: center;
  color: #c1853b;
  width: 30em;
  max-width: 1250px;
  font-size:clamp( 0.8em, 1.5vw, 4em);
  letter-spacing: 1.2em;
}

body>header>p>span {
  color: black;
}

body>header>h1 {
  line-height: 0.9em;
  max-width: 4em;
  text-align: right;
  font-size: clamp(4em, 11vw, 14em)
}

body>header>h1>span:nth-child(1) {
  text-align: right;
  display: block;
}

body>header>h1>span:nth-child(2) {
  display: block;
  text-align: left;
}

body>header>h1>span:nth-child(3) {
  font-size: 2.5em;
  display: block;
  text-align: right;
  position: absolute;
  margin-left: max(min(1.3em, 1.3em), 1.4em);
  margin-top: -0.55em;
  color: #c1853b;
  mix-blend-mode: multiply;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Flex  */

main{
  margin-top: 5%;
}


main>section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  gap: 5em;
}

section>header,
section>h2,
section blockquote {
  flex: 100vw;
  text-align: center;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= styling menu  */
section>header,
section>h2 {
  background-color: #c1853b;

}


section>header {
  padding-top: 1.5em;
  height: 10em;
  letter-spacing: 1.2em;
}

section>header>h2 {
  padding-bottom: m;
  font-size: 4em;
  letter-spacing: 0em;
  animation-duration: 3s;
  animation-name: show;
}

section>h2 {
  padding-top: 0.5em;
  height: 2.5em;
  font-size: 4em;
}


section article {
  width: 350px;
  min-height: 125px;
  max-height: 150px;
  transition: all .2s ease
}

blockquote {
  color: #c1853b;
  margin: 1em auto;
  justify-content: center;
  letter-spacing: 0.2em;
}

article div {
  font-size: 1.5em;
}

section header p {
  letter-spacing: 1.2 em;
  animation-duration: 3s;
  animation-name: show;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= animaties  */

@keyframes show {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;

  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= article styling  */

article {
  background-color: rgb(193, 133, 59, 0.30);
  padding: 0;
}

article h3 {
  font-size: 2.6em;
  padding-right: 1.5em;
  width: 100%;
  text-align: right;
  height: 7vh;
}

article p {
  text-align: left;
  letter-spacing: 1em;
}

article p {
  position: relative;
  text-align: left;
  width: 65%;
  padding-left: 1em;
  letter-spacing: 0.1em;
  display: none;
  margin: 0 0 0 0;
}

article h3 {
  margin-right: 1.5em;
}

article:nth-last-child(-n+2) {
  margin-bottom: 1.5em;
}

article div {
  text-align: right;
  font-weight: 900;
  font-size: 12.5em;
  position: relative;
  top: -0.55em;
  color: rgba(193, 133, 59, 0.9);
  background-clip: content-box;
  mix-blend-mode: multiply;
}

article:hover {
  transform: scale(1.2);
  background-color: rgba(193, 133, 59, 0.6);
}

article:hover h3 {
  opacity: 0.05;
}

article:hover p {
  top: -18em;
  display: block;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= laadbalkje styling  */

body>div {
  display: block;
  margin: 0 auto;
  text-align: center;
}

body>div h3:nth-child(1) {
  animation-delay: 0.1s;
}

body>div h3:nth-child(2) {
  animation-delay: 0.2s;
}

body>div h3:nth-child(3) {
  animation-delay: 0.3s;
}

body>div h3:nth-child(4) {
  animation-delay: 0.4s;
}

body>div h3:nth-child(5) {
  animation-delay: 0.5s;
}

body>div h3:nth-child(6) {
  animation-delay: 0.6s;
}

body>div h3:nth-child(7) {
  animation-delay: 0.7s;
}

body>div h3:nth-child(8) {
  animation-delay: 0.8s;
}

body>div h3 {
  font-size: 30px;
  width: 10%;
  opacity: 0;
  animation: up-down, show;
  animation-duration: 2s, 4s;
  animation-delay: .1s, 1s;
  animation-iteration-count: 2, 1;
  animation-fill-mode: none, none;
  margin-top: 5em;
  display: inline-block;
}


@keyframes up-down {
  0% {
    transform: translate(0, 0);
    transform: rotateZ(-180deg)
  }

  50% {
    transform: translate(0, 100px);
  }

  100% {
    transform: translate(0, 0);
    transform: rotateZ(180deg)
  }
}




/* -=-=-=-=-=-=-=-=-=-=-=-= menu item draaien */




/* https://codepen.io/edeesims/pen/iGDzk?editors=1100 */

ul {
  margin-top: 7%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding:  2em  0 2em  0;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color: rgb(193, 133, 59, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0;
  animation-duration: 2s;
  animation-name: show;
  animation-delay: 4s;
  animation-timing-function: cubic-bezier(.92, -0.03, .44, 1.03);
  animation-fill-mode: forwards;
  z-index: 10;
}


ul li a {
  color: inherit;
  text-decoration: inherit;
  font-size: 2em;
}

ul li{
  padding: 20px;
}

ul li a:hover{
  color: #c1853b;

  transition: all .3s ease;

}

body > a {

  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  text-decoration: none;
  background-color:rgb(193, 133, 59, 0.5);
  color: black; 
  cursor: pointer; 
  padding: 15px;
  border-radius: 10px; 
  font-size: 1.4em; 
}

body > a:hover{
  background-color: rgb(193, 133, 59);
}