*{
    font-family: 'Staatliches', cursive;
    margin: 0;
    padding: 0;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Header  */
body > header:nth-child(1){
    padding-top: 4em;
    display: block;
    padding-left: 1em;
    background-color:white;

    width: 40em;
}

body > header > p {
      text-align: center;
      color: #c1853b;
      width: 33em;
      letter-spacing: 1.2em;
}

body > header > p > span {
    color: black;
}

header > h1{
    line-height: 0.9em;
    max-width: 4em;
    font-size: 7em;
}

header > h1 > span:nth-child(1){
    text-align: right;
    display: block;
}

header > h1 > span:nth-child(2) {
    display: block;
    text-align: left;
}

header > h1 > span:nth-child(3){
    font-size: 18rem;
    display: block;
    text-align: right;
    position: absolute;
    left: 1.4em;
    top: 0.4em;
    color: #c1853b;
    mix-blend-mode:multiply;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Header  */

h2 {
    font-size: 4em;
}

body {
    background-color: #c1853b;
}

/* main{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

section:nth-child(1) header  {
    text-align: center;   
}


section:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 2;
}



section:nth-child(2){
    grid-column-start: 4;
    grid-column-end: 4;
}

section:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 2;
}

section:nth-child(4){
    grid-column-start: 4;
    grid-column-end: 4;
}

section:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 2;
}

section:nth-child(6){
    grid-column-start: 4;
    grid-column-end: 4;
}

section:nth-child(7){
    grid-column-start: 3;
    grid-column-end: 3;
} */
