*{
    font-family: 'Staatliches', cursive;
    margin: 0 auto;
}

body header h1{
    font-size: 8em;
    text-align: center;
}

body > header > p {
        text-align: center;
}

h2 {
    font-size: 4em;
}

main{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

section:nth-child(1) header  {
    text-align: center;   
}


section:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 2;
}



section:nth-child(2){
    grid-column-start: 4;
    grid-column-end: 4;
}

section:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 2;
}

section:nth-child(4){
    grid-column-start: 4;
    grid-column-end: 4;
}

section:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 2;
}

section:nth-child(6){
    grid-column-start: 4;
    grid-column-end: 4;
}

section:nth-child(7){
    grid-column-start: 3;
    grid-column-end: 3;
}

